@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&display=swap');

* {
    margin: 0;
    padding: 0;
}

.spotify-img,
.home-img {
    filter: invert(1);
}

.nav {
    display: flex;
    background-color: #252525;
    height: 64px;
    padding: 8px;
    position: sticky;
    top: 0;
    z-index: 1;
    opacity: 0.9;
}

.container{
    position: relative;
}

.left {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    width: 25vw;
}

.right {
    width: 75vw;
}

.footer {
    display: flex;
    font-size: 10px;
    gap: 15px;
    position: absolute;
    bottom: 0;
}

.footer a {
    color: grey;
}

.search-container {
    display: flex;
    align-items: center;
    position: relative;
}

.search-input {
    padding: 10px;
    padding-left: 35px;
    /* Space for the magnifying glass icon */
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.search-button {
    position: absolute;
    left: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.magnifying-glass {
    font-size: 18px;
    color: #888;
}

.spotify-playlist {
    padding: 16px;
}

.card-container {
    height: 100vh;
    display: flex;
    margin-top: 20px;
    gap: 10px;
    flex-wrap: wrap;
    overflow: scroll;
}

.card {
    width: 200px;
    height: 250px;
    border-radius: 5px;
    padding: 15px;
    background-color: #252525;
    position: relative;
}

.card>* {
    padding-top: 3px;
}

.card > img {
    width: 100%;
    object-fit: contain;
}

.play {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 38px;
    height: 38px;
    position: absolute;
    bottom: 69px;
    right: 60px;
    opacity: 0;
    transition: all 1s ease-out;
}

.card:hover .play{
    opacity: 1;
    right: 30px
}

.now-playing-bar{
    background-color: rgb(72, 158, 72);
    margin-top: 15px;
    padding: 15px;
    border-radius: 15px;
}

.songcontrols{
    display: flex;
    justify-content: center;
    scale: 2;
    gap: 25px;
}

.songList ul{
    padding: 10px 15px;
    overflow: scroll;
}

.songList ul li{
    list-style-type: circle;
    display: flex;
    gap: 10px;
    justify-content: left;
    cursor: pointer;
    padding: 12px 15px;
    margin: 10px;
    border: 1px solid aqua;
    border-radius: 5px;
}

.playnow{
    scale: 1.5;
    align-self: self-end;
}